@model BloodBank.Models.Patient

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Patient</h2>
<form action="@Url.Action("Create", "Patient")" method="post">

    <div class="Patient">
        @Html.LabelFor(x => x.PatientName)
        @Html.TextBoxFor(x => x.PatientName)
        @Html.ValidationMessageFor(x => x.PatientName)
    </div>

    <div class="Patient">
        @Html.LabelFor(x => x.PatientBloodGroup)
        @Html.TextBoxFor(x => x.PatientBloodGroup)
        @Html.ValidationMessageFor(x => x.PatientBloodGroup)
    </div>


    <div class="Patient">
        @Html.LabelFor(x => x.PatientDisease)
        @Html.TextBoxFor(x => x.PatientDisease)
        @Html.ValidationMessageFor(x => x.PatientDisease)
    </div>

    <input type="Submit" value="Confirm" />
</form>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
