@model BloodBank.Models.Donor

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Donor</h2>
<form action="@Url.Action("Edit", "Donors")" method="post">

    <div class="donor">
        @Html.LabelFor(x => x.DonorName)
        @Html.TextBoxFor(x => x.DonorName)
        @Html.ValidationMessageFor(x => x.DonorName)
    </div>

    <div class="donor">
        @Html.LabelFor(x => x.DonorContactNumber)
        @Html.TextBoxFor(x => x.DonorContactNumber)
        @Html.ValidationMessageFor(x => x.DonorContactNumber)
    </div>
    <div class="donor">
        @Html.LabelFor(x => x.DonorAddress)
        @Html.TextBoxFor(x => x.DonorAddress)
        @Html.ValidationMessageFor(x => x.DonorAddress)
    </div>

    <div class="donor">
        @Html.LabelFor(x => x.DonorBloodGroup)
        @Html.TextBoxFor(x => x.DonorBloodGroup)
        @Html.ValidationMessageFor(x => x.DonorBloodGroup)
    </div>
    <input type="submit" value="Confirm" />
</form>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
